html { background: #fafafa; }

body {
	background: #fff;
	-webkit-box-shadow: 0 0 15px #eee;
	border: 3px double #eee;
	border-top: none;
	margin: 0 auto 35px;
	padding: 0;
	width: 957px; /* total 960 */
	overflow: hidden;
}

header {
	border-bottom: 1px double #eee;
	margin: 0 -30px;
	padding: 20px 30px;
}

nav {
	background: #fafafa;
	margin: 0 -30px 25px;
	padding: 4px 30px;
	border-bottom: 1px double #eee;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

nav li {
	display: inline;
}

nav a {
	color: #444;
	margin: 0 5px 0 0;
	padding: 5px 5px;
	text-decoration: none;
}

nav li:last-child a { margin-right: 0; }

nav .current a {
	background: #eee;
}

section#main {
	float: left;
	margin: 0 20px;
	padding: 0;
	width: 700px;
}

section.products article {
	width: 220px;
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

section.products article:nth-of-type(3n) {
	margin-right: 0;
}

section.products article img {
	border: 10px solid #f0f0f0;
	margin: 0 0 5px;
}

section.products article h2 {
	background: rgba(0,0,0,0.5);
	display: block;
	color: #eee;
	text-shadow: 1px 1px 2px black;
	font-size: 15px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	width: 190px;
	padding: 3px 5px;
	margin: 0;
}

section.products article a:link, section.products article a:visited {
	color: #eee;
	text-decoration: none;
}

section.products article p {
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 1px 1px 2px black;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 5px;
	margin: 0;
}

.js section.products article p {
	display: none;
}

.product .images {
	background: #f0f0f0;
	padding: 10px 10px 0 10px;
	width: 200px;
	overflow: auto;
	float: left;
	margin: 0 10px 10px 0;
}

.product .images img {
	width: 60px;
	margin: 0 10px 10px 0;
	float: left;
}

.product .images img:first-child {
	width: 200px;
}

.product .images img:nth-child(3n+1) {
	margin-right: 0;
}

.product .price {
	float: right;
	color: #555;
	font-family: Georgia;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 5px;
}

.product form {
	display: block;
	border-top: 3px double #eee;
	margin: 30px -20px 0 0;
	padding: 15px 0 0;
}

.product form h3 {
	display: inline;
	margin: 0 5px 0 0;
}

aside {
	float: right;
	width: 174px;
	border-left: 3px double #eee;
	padding: 26px 20px 0;
	margin: -26px 0 0;
}

#search input {
	margin-top: 15px;
	width: 174px;
}

#cart {
	background: #fedae3;
	font-family: Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 9px;
	padding: 10px 15px;
	margin: 0 -20px;
}

#cart .items, #cart .price {
	font-weight: bold;
	font-size: 14px;
}

#cart .price {
	color: #bd526d;
}

#cart .view {
	margin: 0 0 3px;
}

footer {
	border-top: 1px solid #eee;
	clear: both;
	margin: 0 -30px;
	overflow: hidden;
	padding: 5px 30px;
	text-align: center;
	font-size: 10px;
	color: #ccc;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

h1 a:link, h1 a:visited {
	color: #444;
	text-decoration: none;
}

h2 {
	font-size: 25px;
	margin-bottom: 15px;
}

p {
	margin: 0 0 10px;
}

#debug {
	background: #333;
	color: #eee;
	letter-spacing: 1px;
	padding: 5px 10px;
}

#debug span {
	color: #ddd;
	text-transform: uppercase;
	font-size: 0.7em;
}
