html { background: #fafafa; }

.clear { clear: both; }

body {
	background: #fff;
	-webkit-box-shadow: 0 0 15px #eee;
	border: 3px double #eee;
	border-top: none;
	margin: 0 auto 35px;
	padding: 0;
	width: 957px; /* total 960 */
	overflow: hidden;
}

header {
	border-bottom: 1px double #eee;
	margin: 0 -30px;
	padding: 20px 30px;
}

nav {
	background: #fafafa;
	margin: 0 -30px 25px;
	padding: 4px 30px;
	border-bottom: 1px double #eee;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

nav ul ul {
	display: none;
	text-align: left;
	position: absolute;
	/* top: 16px; */
	width: 120px;
	left: 0;
	padding: 10px 5px;
	background: #fafafa;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
}

nav ul ul li {
	display: block;
}

nav a:hover + ul {
	display: block;
}

nav li {
	display: inline;
	position: relative;
}

nav a {
	color: #444;
	margin: 0 5px 0 0;
	padding: 5px 5px;
	text-decoration: none;
}

nav li:last-child a { margin-right: 0; }

nav .current a {
	background: #eee;
}

section#main {
	float: left;
	margin: 0 20px;
	padding: 0;
	width: 700px;
	min-height: 140px;
	/* overflow: hidden; */
}

section.products article {
	width: 220px;
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

section.products article:nth-of-type(3n) {
	margin-right: 0;
}

section.products article img {
	border: 10px solid #f0f0f0;
	margin: 0 0 5px;
}

section.products article h2 {
	background: rgba(0,0,0,0.5);
	display: block;
	color: #eee;
	text-shadow: 1px 1px 2px black;
	font-size: 15px;
	position: absolute;
	bottom: 19px;
	right: 10px;
	width: 190px;
	padding: 3px 5px;
	margin: 0;
}

section.products article a:link, section.products article a:visited {
	color: #eee;
	text-decoration: none;
}

section.products article p {
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 1px 1px 2px black;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 5px;
	margin: 0;
}

.js section.products article p {
	display: none;
}

.js section.products article p.hover {
	display: block;
}

.product .images {
	background: #f0f0f0;
	padding: 10px 10px 0 10px;
	width: 200px;
	overflow: auto;
	float: left;
	margin: 0 10px 10px 0;
}

.product .images img {
	width: 60px;
	margin: 0 10px 10px 0;
	float: left;
}

.product .images figure img {
	width: 200px;
}

.product .images a:nth-child(3n+1) img {
	margin-right: 0;
}

.product .price {
	float: right;
	color: #555;
	font-family: Georgia;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 5px;
}

.product form {
	display: block;
	border-top: 3px double #eee;
	margin: 30px -20px 0 0;
	padding: 15px 0 0;
}

.product form h3 {
	display: inline;
	margin: 0 5px 0 0;
}

input.lowstock {
	border: 1px inset red;
}

span.lowstock {
	color: red;
}

#basket {
	width: 700px;
}

#basket th:first-of-type, #basket th:last-of-type {
	visibility: hidden;
}

#basket td {
	border: 1px solid #eee;
	overflow: hidden;
}

#basket .img {
	width: 100px;
}

.remove {
	width: 25px;
}

.name {
	width: 50%;
	padding: 0 10px;
}

tr td {
	vertical-align: middle;
}

.price {
	text-align: center;
	width: 15%;
}

#basket .quantity { 
	width: 15%;
	text-align: center;
}

#basket .quantity a {
	color: #444;
	text-decoration: none;
	background: #eee;
	border: 1px solid #ddd;
	padding: 1px 5px;
	vertical-align: bottom;
	margin: 0px 1px 0;
	display: inline-block;
}

.quantity input {
	width: 25px;
}

#basket .remove {
	text-align: center;
}

#basket .remove input {
	background: none;
	border: none;
	color: darkred;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

aside {
	float: right;
	width: 174px;
	border-left: 3px double #eee;
	padding: 26px 20px 0;
	margin: -26px 0 0;
}

#search input {
	margin-top: 15px;
	width: 174px;
}

#cart {
	background: #fedae3;
	font-family: Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 9px;
	padding: 10px 15px;
	margin: 0 -20px;
}

#cart .items, #cart .price {
	font-weight: bold;
	font-size: 14px;
}

#cart .price {
	color: #bd526d;
}

#cart .view {
	margin: 0 0 3px;
}

footer {
	border-top: 1px solid #eee;
	clear: both;
	margin: 0 -30px;
	overflow: hidden;
	padding: 5px 30px;
	text-align: center;
	font-size: 10px;
	color: #ccc;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

footer a:link, footer a:visited {
	color: #ccc;
	text-decoration: none;
}

footer a:hover, footer a:focus {
	color: #bbb;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

h1 a:link, h1 a:visited {
	color: #444;
	text-decoration: none;
}

h2 {
	font-size: 25px;
	margin-bottom: 15px;
}

p {
	margin: 0 0 10px;
}

#debug {
	background: #333;
	color: #eee;
	letter-spacing: 1px;
	padding: 5px 10px;
}

#debug span {
	color: #ddd;
	text-transform: uppercase;
	font-size: 0.7em;
}

#debug .links {
	float: right;
	margin: 3px 0 0;
}

#debug a:link, #debug a:visited {
	color: #ddd;
	text-decoration: none;
}

#debug a:hover, #debug a:focus {
	text-decoration: underline;
}

#adminnav {
	margin: 0;
}

#adminnav li {
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
	width: 223px;
}

#adminnav a:link, #adminnav a:visited {
	background: #fafafa;
	border: 1px solid #eee;
	color: #444;
	display: block;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

#adminnav a:hover, #adminnav a:focus {
	border: 1px solid #ddd;
}

#adminnav li:nth-child(4n) {
	margin: 0 10px 10px 113px;
}

#basket + .actions {
	padding: 15px 0 0;
}

#basket + .actions p {
	display: inline-block;
}

#basket + .actions .empty {
	float: left;
}

#basket + .actions .empty a,
#confirmremove p input {
	background: -webkit-linear-gradient(#f77, #f33);
	border: 1px solid #f66;
	border-radius: 55px;
	box-shadow: 1px 1px 0 #ccc;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
}

#basket + .actions .checkout {
	float: right;
}

#basket + .actions .checkout a,
input.placeorder {
	background: -webkit-linear-gradient(#7f7, #3f3);
	border: 1px solid #6f6;
	border-radius: 55px;
	box-shadow: 1px 1px 0 #ccc;
	color: black;
	padding: 5px 10px;
	text-decoration: none;
}

.total {
	margin: 10px 0;
}

.flashmessages {
	margin: 0 0 15px;
}

.flashmessages .error {
	background: -webkit-linear-gradient(#f77, #f33);
	border: 1px solid #f66;
	border-radius: 5px;
	color: white;
	margin: 0;
	padding: 5px 10px;
}

.flashmessages .success {
	background: -webkit-linear-gradient(#7f7, #3f3);
	border: 1px solid #6f6;
	border-radius: 5px;
	color: black;
	margin: 0;
	padding: 5px 10px;
}

#confirmremove p input {
	font-size: 11px;
}

p.manageimages {
	background: #eee;
	border: 1px solid #ddd;
	padding: 10px;
}

#placeorder td {
	padding: 7px;
}

#placeorder tr td:first-child {
	padding-right: 15px;
	text-align: right;
	width: 90px;
}

#placeorder input, #placeorder textarea {
	border: 1px solid #ddd;
	padding: 4px;
	width: 300px;
}

#placeorder textarea {
	height: 100px;
}

#adminorders > li {
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 0 0 20px;
}

#adminorders li ul {
	margin-top: 10px;
}

.stockcounts span {
	color: red;
	font-weight: bold;
}

.stockcounts {
	margin: 0 20px 20px 0;
	width: 45%;
	float: left;
}

.stockcounts h3 {
	margin: 0 0 5px;
}

#csseditor, #csssuggest {
	border: 3px double #ddd;
	height: 140px;
	padding: 10px;
	width: 550px;
	font-size: 13px;
	line-height: 1.4em;
	color: #444;
	font-family: monospace;
}

#csseditor:focus {
	border-color: #bbb;
	outline: none;
}

#csssuggest {
	display: block;
	height: auto;
	padding: 10px 0;
	border: none;
}
